header {
  background-color: #262b32;
  box-shadow: 0 4px 5px #0000003f;
  display: flex;
  height: 80px;
  justify-content: center;
}
.divider {
  border: 2px solid #3e4750;
}
.point {
  cursor: pointer;
}
.background-color-30373e {
  background: #30373e;
}
.header-divider {
  height: 48px;
  margin: 16px 0;
}
.header-title {
  margin: 19px 497px 19px 24px;
  font-size: 38px;
  color: rgba(255, 255, 255, 0.3);
}
.buttons {
  margin: 0 16px 0 0;
}
.button {
  margin: 12px 16px 0 0;
  border-radius: 8px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padding-house-icon {
  width: 1216px;
  padding: 27px 0;
}
.flex-box {
  display: flex;
  justify-content: center;
  padding-bottom: 62px;
}
.data-type {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.information-box {
  width: 228px;
  height: 98px;
  border-radius: 6px;
  margin-top: 16px;
}
.time-count {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  margin: 19px 0 0 22px;
  display: inline-block;
}
.values {
  color: rgba(221, 221, 221, 0.87);
  font-size: 36px;
  margin: 4px 0 14px 22px;
}
.unit-of-measurement {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.word-consumption {
  margin-top: 26px;
}
.dashboard-map-divider {
  margin: 0 23px;
}
.counties {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.3);
}
.right-side-menu {
  height: 312px;
  background: #262b32;
  border-radius: 5px;
  margin: 21px 0;
  display: inline-block;
}
.option-box {
  width: 120px;
  height: auto;
  border-radius: 5px;
  margin: 12px 16px 15px 16px;
}
.locality-name {
  text-align: center;
  color: rgba(255, 255, 255, 0.966);
  font-size: 12px;
  padding: 6px 0 6px;
}
